/* NAVIGATION STUFF GOES HERE  */
#hamburgerBtn {
    display: none;
}

#navWrapper {
  width: 100%;
  background-color: $greyColor;
}
nav .nav-inner {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 $gutter;
}

#primaryNav {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
nav {
    ul li a {
        border: none;
        font-size: .85rem;
        font-weight: $normalWeight;
        padding: .5rem 1.2rem;
        transition: background 0.5s linear;
    }
    ul li a:hover {
        background-color: $primaryColor;
        color: white;
    }
}


header {
    span {
    font-size: 1.4rem;
  }

  p {
    margin: 0.2rem 0 0 0; // add small margin on top for spacing
    font-size: 0.9rem;
    color: lighten(white, 20%);
  }
}