$defaultFont: 'Inter', sans-serif;
$lightWeight: 400;
$normalWeight: 600;
$boldWeight: 700;
$gutter: 16px;
$primaryColor: #0e1a2b;      
$secondaryColor: #d86619;    
$greyColor: #f4f4f4;         
$textColor: #333;
$leading: 1.6;